<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ZjuControlApp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 设置手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <!-- 开启闪光权限 -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <permission
        android:name="com.herotculb.qunhaichat.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="com.herotculb.qunhaichat.permission.MIPUSH_RECEIVE" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->

    <application
        android:name="com.ZjuControlApp.mipush.MipushApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.appkefu.lib.appkey"
            android:value="63e3544c76606a8133fa707a9a0a175c" />

        <!-- 聊天窗口, 可通过修改layout文件appkefu_chat_activity.xml自定义窗口UI -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFChatActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 客服个人资料窗口 -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFProfileActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 验证消息窗口，可通过修改layout文件appkefu_activity_subscribe_notification.xml自定义窗口UI -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFSubscribeNotificationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 选择图片 -->
        <activity android:name="com.appkefu.lib.ui.activity.KFSelectPicActivity" />
        <activity android:name="com.appkefu.lib.ui.activity.KFMUCChatActivity" />
        <activity android:name="com.appkefu.lib.ui.activity.KFMUCProfileActivity" />
        <activity android:name="com.appkefu.lib.ui.activity.KFMUCInvitationNotificationActivity" />

        <!-- 发送语音辅助service -->
        <service
            android:name="com.appkefu.lib.soundrecorder.KFRecorderService"
            android:exported="false" >
        </service>

        <!-- 主service -->
        <service
            android:name="com.appkefu.lib.service.KFMainService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.appkefu.lib.action.CONNECT" />
                <action android:name="com.appkefu.lib.action.DISCONNECT" />
                <action android:name="com.appkefu.lib.action.TOGGLE" />
                <action android:name="com.appkefu.lib.action.SEND" />
                <action android:name="com.appkefu.lib.action.NETWORK_STATUS_CHANGED" />
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
                <action android:name="com.appkefu.lib.action.PRESENCE_CHANGED" />
                <action android:name="com.appkefu.lib.action.MUC_INVITATION" />
            </intent-filter>
        </service>

        <!--  -->
        <receiver
            android:name="com.appkefu.lib.receivers.KFPublicIntentReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.appkefu.lib.action.CONNECT" />
                <action android:name="com.appkefu.lib.action.DISCONNECT" />
                <action android:name="com.appkefu.lib.action.TOGGLE" />
            </intent-filter>
        </receiver>

        <!-- 开机自动建立连接 -->
        <receiver android:name="com.appkefu.lib.receivers.KFBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <!-- 连接电源自动建立连接 -->
        <receiver android:name="com.appkefu.lib.receivers.KFPowerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 监听网络变化 -->
        <receiver
            android:name="com.appkefu.lib.receivers.KFNetworkConnectivityReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>

        <!-- 检测链接状态 -->
        <receiver android:name="com.appkefu.lib.receivers.KFAlarmReceiver" >
            <intent-filter>
                <action android:name="com.appkefu.lib.action.LOGIN_ALARM" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.ZjuControlApp.mipush.MipushMessageReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ZjuControlApp.Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.RosterListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.MessagesActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.AddKzBxActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.AddKzDdActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.AddKzKaiGActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.AddKzKtActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.AddUserActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.HomeInfoInnerAcitvity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.ProfileFriendActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.ChangeSth"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.EditOrDel"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.ErcodeScanActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.SettingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.FeekBackActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.ErweimaActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.ProfileActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.ProfileChangeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.SignInActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.SignOutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.mipush.SystemTipActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.WebViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <activity
            android:name="com.ZjuControlApp.activity.ErweimaTipActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
         <activity
            android:name="com.ZjuControlApp.activity.UserInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ZjuControlApp.activity.HomeInfoKongzhiAcitvity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <activity
            android:name="com.ZjuControlApp.activity.GroupJoinActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>